<container class="footer-section">
    <row>
        <columns class="footer-menu">
            <a href="http://t.email.subway.com/r/?id=h346fa15,5852caa,5852cb5&p1=ZUWyRZp">
                Account 
            </a>&nbsp;<span class="v-bar">|</span>&nbsp;
            <a>
                Contact Us
            </a>&nbsp;<span class="v-bar">|</span>&nbsp;
            <a>
                Terms & Condition
            </a>&nbsp;<span class="v-bar">|</span>&nbsp;
            <a>
                Privacy
            </a>
        </columns>
    </row>

    <row>
        <columns class="footer-bottom" small="12" large="12">
            <p>This email and the messages contained within are intended for US audiences only.</p>
            <p>Subway MyWay™ Rewards and App ordering available at participating restaurants. Rewards program excludes gift cards and Catering Call Center purchases.</p>
            <p>Subway
                <sup style="font-size:9px;line-height:0;vertical-align:2px">®</sup>
                is a Registered Trademark of Subway IP Inc. ©2019 Subway IP Inc. All rights reserved. This email was sent by: Franchisee Advertising Trust Ltd. (SFAFT), 325 Sub Way, Milford, CT 06461.
            </p>
        </columns>
    </row>
</container>