<container class="header-container">
    <row>
        <columns small="1" large="1">
            &nbsp;
        </columns>
        <columns class="top-header" small="11" large="11">
            <a href="#">Visit hyatt.com</a>
                &nbsp;&nbsp;&nbsp;
            <a href="#">Customer Service</a>
                &nbsp;&nbsp;&nbsp;
            <a href="#">My Account</a>
        </columns>
    </row>
    <row class="sub-header">
        <columns class="left-column">
            <img src="{{ root }}/assets/img/hyatt_files/hyatt-logo.png"/>
        </columns>
        <columns class="right-column">
            <p>Andrew&nbsp;&nbsp;&nbsp;<span>542894832L</span></p>
        </columns>
    </row>
    <row>
        <columns class="hero-column">
            <img src="{{ root }}/assets/img/hyatt_files/hotel-hero.jpg"/>
        </columns>
    </row>
</container>