<container>
    <row class="header">
        <columns small="6" large="6" class="left-header-section">
            <p class="text-left"><a href="#">View in browser</a></p>
        </columns>
        <columns small="6" large="6" class="right-header-section">
            <p class="text-right"><a href="#">Find a restaurant</a></p>
        </columns>
    </row>

    <row class="sub-header">
        <columns class="sub-header-column">
            <spacer size="15"></spacer>
            <img src="{{ root }}/assets/img/subway_files/subway-logo.png"/>
        </columns>
    </row>
</container>